# Dependencias de Node.js
node_modules/

# Archivos de entorno
.env

# Archivos de logs
*.log

# Directorio temporal
tmp/

# Archivos de sistema
.DS_Store
thumbs.db

# Archivos de compilación de producción (si los tienes)
dist/
